-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: talent_management
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
INSERT INTO `_prisma_migrations` VALUES ('dcb270c6-5876-4e6a-804e-9736cfd73bca','1fc2bc50e3ac52aa20163fd348049e35074ea7bb61601006026f7e81a487f97d','2025-10-28 15:34:48.183','20251028153444_init',NULL,NULL,'2025-10-28 15:34:44.580',1);
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessment`
--

DROP TABLE IF EXISTS `assessment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessment` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `year` int(11) NOT NULL,
  `period` varchar(191) DEFAULT NULL,
  `totalKinerja` double NOT NULL,
  `totalPotensial` double NOT NULL,
  `overallScore` double NOT NULL,
  `boxNumber` int(11) NOT NULL,
  `boxDescription` varchar(191) DEFAULT NULL,
  `recommendations` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `createdBy` varchar(191) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Assessment_employeeId_year_period_key` (`employeeId`,`year`,`period`),
  CONSTRAINT `Assessment_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessment`
--

LOCK TABLES `assessment` WRITE;
/*!40000 ALTER TABLE `assessment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assessmentitem`
--

DROP TABLE IF EXISTS `assessmentitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessmentitem` (
  `id` varchar(191) NOT NULL,
  `assessmentId` varchar(191) NOT NULL,
  `type` varchar(191) NOT NULL,
  `parameter` varchar(191) NOT NULL,
  `komponen` varchar(191) NOT NULL,
  `bobotKomponen` double NOT NULL,
  `indikator` varchar(191) NOT NULL,
  `bobotIndikator` double NOT NULL,
  `nilai` double NOT NULL,
  `overallPct` double NOT NULL,
  `contribValue` double NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `AssessmentItem_assessmentId_fkey` (`assessmentId`),
  CONSTRAINT `AssessmentItem_assessmentId_fkey` FOREIGN KEY (`assessmentId`) REFERENCES `assessment` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assessmentitem`
--

LOCK TABLES `assessmentitem` WRITE;
/*!40000 ALTER TABLE `assessmentitem` DISABLE KEYS */;
/*!40000 ALTER TABLE `assessmentitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `assignment`
--

DROP TABLE IF EXISTS `assignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignment` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `location` varchar(191) DEFAULT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Assignment_employeeId_fkey` (`employeeId`),
  CONSTRAINT `Assignment_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `assignment`
--

LOCK TABLES `assignment` WRITE;
/*!40000 ALTER TABLE `assignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `assignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certification`
--

DROP TABLE IF EXISTS `certification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certification` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `issuer` varchar(191) NOT NULL,
  `issueDate` datetime(3) NOT NULL,
  `expiryDate` datetime(3) DEFAULT NULL,
  `credential` varchar(191) DEFAULT NULL,
  `description` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `Certification_employeeId_fkey` (`employeeId`),
  CONSTRAINT `Certification_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certification`
--

LOCK TABLES `certification` WRITE;
/*!40000 ALTER TABLE `certification` DISABLE KEYS */;
/*!40000 ALTER TABLE `certification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `changerequest`
--

DROP TABLE IF EXISTS `changerequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `changerequest` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `type` enum('PROFILE','CERTIFICATION','ASSIGNMENT','POSITION_HISTORY','EDUCATION') NOT NULL,
  `status` enum('PENDING','APPROVED','REJECTED') NOT NULL DEFAULT 'PENDING',
  `oldData` varchar(191) DEFAULT NULL,
  `newData` varchar(191) NOT NULL,
  `reason` varchar(191) DEFAULT NULL,
  `reviewedBy` varchar(191) DEFAULT NULL,
  `reviewedAt` datetime(3) DEFAULT NULL,
  `reviewNote` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ChangeRequest_employeeId_fkey` (`employeeId`),
  CONSTRAINT `ChangeRequest_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `changerequest`
--

LOCK TABLES `changerequest` WRITE;
/*!40000 ALTER TABLE `changerequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `changerequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `competency`
--

DROP TABLE IF EXISTS `competency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `competency` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `category` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Competency_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `competency`
--

LOCK TABLES `competency` WRITE;
/*!40000 ALTER TABLE `competency` DISABLE KEYS */;
/*!40000 ALTER TABLE `competency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `educationhistory`
--

DROP TABLE IF EXISTS `educationhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `educationhistory` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `degree` varchar(191) NOT NULL,
  `institution` varchar(191) NOT NULL,
  `major` varchar(191) DEFAULT NULL,
  `startYear` int(11) NOT NULL,
  `endYear` int(11) DEFAULT NULL,
  `gpa` double DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `EducationHistory_employeeId_fkey` (`employeeId`),
  CONSTRAINT `EducationHistory_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `educationhistory`
--

LOCK TABLES `educationhistory` WRITE;
/*!40000 ALTER TABLE `educationhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `educationhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee` (
  `id` varchar(191) NOT NULL,
  `userId` varchar(191) NOT NULL,
  `nip` varchar(191) NOT NULL,
  `fullName` varchar(191) NOT NULL,
  `birthDate` datetime(3) DEFAULT NULL,
  `birthPlace` varchar(191) DEFAULT NULL,
  `gender` varchar(191) DEFAULT NULL,
  `address` varchar(191) DEFAULT NULL,
  `phone` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `currentPosition` varchar(191) DEFAULT NULL,
  `unit` varchar(191) DEFAULT NULL,
  `golongan` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Employee_userId_key` (`userId`),
  UNIQUE KEY `Employee_nip_key` (`nip`),
  CONSTRAINT `Employee_userId_fkey` FOREIGN KEY (`userId`) REFERENCES `user` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee`
--

LOCK TABLES `employee` WRITE;
/*!40000 ALTER TABLE `employee` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobmatch`
--

DROP TABLE IF EXISTS `jobmatch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobmatch` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `jobPositionId` varchar(191) NOT NULL,
  `matchScore` double NOT NULL,
  `analysis` varchar(191) NOT NULL,
  `strengths` varchar(191) NOT NULL,
  `gaps` varchar(191) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `JobMatch_employeeId_jobPositionId_key` (`employeeId`,`jobPositionId`),
  KEY `JobMatch_jobPositionId_fkey` (`jobPositionId`),
  CONSTRAINT `JobMatch_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `JobMatch_jobPositionId_fkey` FOREIGN KEY (`jobPositionId`) REFERENCES `jobposition` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobmatch`
--

LOCK TABLES `jobmatch` WRITE;
/*!40000 ALTER TABLE `jobmatch` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobmatch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobposition`
--

DROP TABLE IF EXISTS `jobposition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobposition` (
  `id` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `unit` varchar(191) NOT NULL,
  `level` varchar(191) DEFAULT NULL,
  `isAvailable` tinyint(1) NOT NULL DEFAULT 1,
  `description` varchar(191) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `JobPosition_title_key` (`title`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobposition`
--

LOCK TABLES `jobposition` WRITE;
/*!40000 ALTER TABLE `jobposition` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobposition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobpositioncompetency`
--

DROP TABLE IF EXISTS `jobpositioncompetency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobpositioncompetency` (
  `id` varchar(191) NOT NULL,
  `jobPositionId` varchar(191) NOT NULL,
  `competencyId` varchar(191) NOT NULL,
  `requiredLevel` int(11) NOT NULL DEFAULT 1,
  `priority` varchar(191) NOT NULL DEFAULT 'MEDIUM',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `JobPositionCompetency_jobPositionId_competencyId_key` (`jobPositionId`,`competencyId`),
  KEY `JobPositionCompetency_competencyId_fkey` (`competencyId`),
  CONSTRAINT `JobPositionCompetency_competencyId_fkey` FOREIGN KEY (`competencyId`) REFERENCES `competency` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `JobPositionCompetency_jobPositionId_fkey` FOREIGN KEY (`jobPositionId`) REFERENCES `jobposition` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobpositioncompetency`
--

LOCK TABLES `jobpositioncompetency` WRITE;
/*!40000 ALTER TABLE `jobpositioncompetency` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobpositioncompetency` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learningmodule`
--

DROP TABLE IF EXISTS `learningmodule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `learningmodule` (
  `id` varchar(191) NOT NULL,
  `learningPathId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `status` varchar(191) NOT NULL DEFAULT 'not-started',
  `notes` varchar(191) DEFAULT NULL,
  `targetDate` datetime(3) DEFAULT NULL,
  `completedDate` datetime(3) DEFAULT NULL,
  `order` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `LearningModule_learningPathId_fkey` (`learningPathId`),
  CONSTRAINT `LearningModule_learningPathId_fkey` FOREIGN KEY (`learningPathId`) REFERENCES `learningpath` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learningmodule`
--

LOCK TABLES `learningmodule` WRITE;
/*!40000 ALTER TABLE `learningmodule` DISABLE KEYS */;
/*!40000 ALTER TABLE `learningmodule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `learningpath`
--

DROP TABLE IF EXISTS `learningpath`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `learningpath` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` varchar(191) DEFAULT NULL,
  `basedOnBox` int(11) DEFAULT NULL,
  `year` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `LearningPath_employeeId_fkey` (`employeeId`),
  CONSTRAINT `LearningPath_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `learningpath`
--

LOCK TABLES `learningpath` WRITE;
/*!40000 ALTER TABLE `learningpath` DISABLE KEYS */;
/*!40000 ALTER TABLE `learningpath` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `positionhistory`
--

DROP TABLE IF EXISTS `positionhistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `positionhistory` (
  `id` varchar(191) NOT NULL,
  `employeeId` varchar(191) NOT NULL,
  `position` varchar(191) NOT NULL,
  `unit` varchar(191) DEFAULT NULL,
  `startDate` datetime(3) NOT NULL,
  `endDate` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `PositionHistory_employeeId_fkey` (`employeeId`),
  CONSTRAINT `PositionHistory_employeeId_fkey` FOREIGN KEY (`employeeId`) REFERENCES `employee` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positionhistory`
--

LOCK TABLES `positionhistory` WRITE;
/*!40000 ALTER TABLE `positionhistory` DISABLE KEYS */;
/*!40000 ALTER TABLE `positionhistory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `id` varchar(191) NOT NULL,
  `email` varchar(191) NOT NULL,
  `password` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `role` enum('PEGAWAI','OSDM') NOT NULL DEFAULT 'PEGAWAI',
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `User_email_key` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-04 21:33:16
